/* src/App.css */
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-layout {
  display: flex;
  flex: 1;
}

header, .sidebar, .main-content {
  padding: 20px;
}

header {
  background-color: #f8f9fa;
  height: 60px;
  display: flex;
  align-items: center;
}

.sidebar {
  width: 250px;
  background-color: #343a40;
  color: white;
}

.main-content {
  flex: 1;
  background-color: #e9ecef;
}
