.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-layout {
  display: flex;
  flex: 1;
}

header {
  padding: 0;
}

.sidebar {
  padding: 0;
}

.main-content {
  padding: 20px;
}